:root {
    --clr-neon: #fff;
    --clr-bg: rgba(1, 1, 1, 1);
    --clr-white: rgb(200, 255, 0);
  }
  
  body {
    font-family: "Archivo Black", sans-serif;
    background: radial-gradient(circle, rgb(207, 206, 206) 0%, rgb(207, 206, 206)35%, rgb(150, 154, 155) 100%);
    flex-direction: column;
    height: 100vh;
     color: var(--clr-neon);
  }
  
  .huruf {
    /* margin-top: 100px; */
    text-align: center;
  }
  
  .words {
    line-height:5.8em;
  }
  
  .words span {
    color: rgb(207, 206, 206);
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1.2s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 3s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  
  article {
    --img-scale: 1.001;
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #ffffff1c;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-family: "Bebas Neue", cursive;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  
  article a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #e2f029;
  }
  
  article a:focus {
    outline: 1px dotted #ffffffb7;
  }
  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  /* using the has() relational pseudo selector to update our custom properties */
  article:has(:hover, :focus) {
    --img-scale: 1.1;
    --title-color: #e2f029;
    --link-icon-translate: 0;
    --link-icon-opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  .button {
    font-size: 2em;
    text-align: center;
    display: inline-block;
    margin:30px 500px;
    width: 340px;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em rgb(217, 255, 0), 0 0 0.5em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
  }
  
  .button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
  
    transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
    filter: blur(1.15em);
    opacity: 0.7;
  
    transition: transform 0.5s linear;
  }
  
  .button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
    opacity: 0;
    background: var(--clr-neon);
    z-index: -1;
    transition: opacity 0.5s linear;
  }
  
  .button:hover,
  .button:focus {
    color: rgba(208, 255, 0, 0.719);
    text-shadow: none;
  }
  
  .button:hover::before,
  .button:focus::before {
    opacity: 1;
    transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
    transition: transform 0.5s linear;
  }
  
  .button:hover::after,
  .button:focus::after {
    opacity: 1;
  }
  
  
  
  @media screen and (max-width: 960px) {
  
    .huruf {
      font-size: 1.2rem;
      margin: 200px 160px;
      text-align: center;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  
  .footer {
    position: relative;
    width: 100%;
    min-height: 20px;
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    margin-top: 30px;
  
    background: url(./assets/white.png);
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @media (max-width: 768px) {
    .button {
      max-width: 240px;
      margin-left: 66px;
    }
  
    
  
    .footer {
      padding: 8px;
      font-size: 0px;
    }
  
    .wave {
      margin-top: 70px;
    }
  }
  
  