
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, rgb(121, 9, 9)  0%, rgb(121, 9, 9) 35%, rgb(3, 41, 46) 100%);
}

.card {
    width: 90%;
    max-width: 670px;
    background: radial-gradient(circle, rgb(185, 30, 30)  0%, rgb(156, 21, 21) 35%, rgb(37, 9, 4) 100%);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 25px 18px;
}

/* Responsive styles */
@media (max-width: 576px) {
    .card {
        padding: 20px 5px;
        max-width: 100%;
        margin: 20px  auto;
        
    }
}

.weather {
    margin: 0 85px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

.search button img {
    top: 4px;
    width: 18px;
    position: relative;
}

.riko {
    text-align: center;
    margin-top: 20px;
    color:#a79191 ;
}

.weather-icon {
    width: 170px;
    margin-top: 30px;
}

.weather h1 {
    font-size: 80px;
    font-weight: 500;
}

.weather h2 {
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 40px;
    margin-right: 10px;
}

.humidity .wind {
    font-size: 28px;
    margin-top: -6px;
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 13px;
    margin-top: 7px;
    font-size: 14px;
    display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
    .weather h1 {
        font-size: 60px;
    }

    .weather h2 {
        font-size: 35px;
    }

    .details {
        flex-direction: column;
        align-items: flex-start;
    }

    .col {
        margin-bottom: 20px;
    }

    .search button {
        width: 45px;
        height: 37px;
        
    }

    .search button img {
        left: -10px;
        top: -15px;
        padding: 20px;
        width: 64px;
        position: relative;
    }
}
